.img-magnifier-container {
    position: relative;
  }
  
  .magnifier-img {
    width: 400px;
    height: 400px;
  }
  
  .magnifier-image {
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
  }

  @media screen and (max-width: 399px) {
    .magnifier-img {
        width: 260px;
        height: 260px;
      }
  }